RewriteEngine on
RewriteBase /mvcskel
RewriteCond %{REQUEST_URI} !(index.php|images/|styles/|js/)
RewriteRule ^.* index.php?mvcskel_redirect_url=$0 [QSA]

#RewriteRule ^styles/(.*\.css)$ combine.php?type=css&files=$1
#RewriteRule ^js/(.*\.js)$      combine.php?type=javascript&files=$1
