<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- Application configuration file -->

<configuration>

  <!-- Database Transactions support -->
  <!-- NOT IMPLEMENTED IN THE CODE -->
  <transaction>0</transaction>

  <!-- See DB_DataObject docs for option explanation -->
  <DB_DataObject>
    <database>mysql://root:@shark.whx/mvcskel</database>
    <class_prefix>Model_</class_prefix>
    <class_location>Model</class_location>
    <debug>0</debug>
    <db_driver>MDB2</db_driver>
  </DB_DataObject>
  
  <!-- Authentication setup -->
  <auth>
    <!-- table with users -->
    <table>User</table>
    <access_control>1</access_control>
  </auth>

  <!-- Links for the site -->
  <Links>
    <!-- root link -->
    <root>mvcskel/</root>

  </Links>

  <!-- smarty debug option -->
  <!-- it will be setted for best performance in other case -->
  <smarty>
    <!-- <cache>0</cache> -->
    <debugging>0</debugging>
    <compile_check>1</compile_check>
    <force_compile>0</force_compile>
  </smarty>

  <!-- logger setup options -->
  <logger>
    <!-- see docs for PEAR::Log for all possible handlers -->
    <handler>file</handler>
    <!-- most of all you have to have full path there -->
    <!-- and it should not be under your web folder -->
    <name>tmp/log.txt</name>
    <!-- levels are from 0 (no debug) to 7 (log all) -->
    <!-- see docs for PEAR::Log for all possible levels -->
    <level>7</level>
  </logger>
  
</configuration>
