body, body div, body p, body th, body td, body li, body dd {
/* переписываем все стили импортированной таблицы стилей */
font-family: Tahoma, Verdana, Helvetica, Arial,  sans-serif;
font-size: x-small;
/* это значение для WinIE4/5 */
voice-family: "\"}\"";
/* фишка для WinIE4/5, который некорректно парсит эту штуку и думает, что блок стилей для этого элемента здесь заканчивается. А вообще свойство voice-family задает список имен голосов для произнесения содержимого элемента */
voice-family: inherit;
/* восстановление */
font-size: small;
/* значение для нормальных браузеров */
}
html>body, html>body div, html>body p, html>body th,
html>body td, html>body li, html>body dd {
font-size: small
}