#header h1 {
    margin:5px 0 0 0;
}
#logo {
    color:#111;
    text-decoration:none;
}

/* forms enhancements */
button[disabled], button[disabled]:hover {
    color:#aaa;
    background:#F5F5F5;
    border-color:#EEEEEE #DEDEDE #DEDEDE #EEEEEE;
}
input[disabled] {
    border-color:#DEDEDE;
}
div.notification {
    background:#FFF6BF;
    color:#514721;
    border:1px solid #FFD324;
    line-height:17px;
    padding:4px 10px 4px 7px;
    margin:0.7em 0 0.7em 0.5em;
    float:right;
}
div.alert {
    background:#FBE3E4;
    color:#8a1f11;;
    border:1px solid #FBC2C4;
}

a.sort {
    text-decoration: none;
}
a.sort span {
    background: #E5ECF9;
}

#mainlinks {
    text-align:right;
    margin:5px 0 0 0;
}
#mainlinks a {
    padding:0 0 0 5px;
}

#interestingLinks div.box,
#usedLibraries div.box {
    background:#FFF;
}

#footer {
    font-size:10px;
    text-align:center;
}
