#header h1 {
    margin-top:5px;
}
#logo {
    color:#111;
    text-decoration:none;
}

#mainlinks {
    text-align:right;
}
#mainlinks a {
    padding:0 0 0 5px;
}

#interestingLinks div.box,
#usedLibraries div.box {
    background:#FFF;
}

#footer {
    font-size:10px;
    text-align:center;
}
